<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Stockscreener by MOD</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/Presentation/css/main.css" />
                <!-- Scripts -->
                <script src="/Presentation/js/jquery.min.js"></script>
                <script src="/Presentation/js/skel.min.js"></script>
                <script src="/Presentation/js/util.js"></script>
                <script src="/Presentation/js/main.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
<div class="inner">
    <a href="/" class="logo"><strong>{% trans "Welcome" %}</strong></a> 
    <nav id="nav">
        <a href="/analyseform">{% trans "Analyse" %}</a>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>  
</div>
</header> 
<!-- Banner -->
<section id="banner">                 
    <div class="inner">                                
        <header>
            <h1>Stockscreener</h1>
        </header>
        <div class="flex ">
            <div>
                <span class="icon fa-car"></span>
		<h3>{% trans "Portfoliomanagement" %}</h3>
		<p>{% trans "Buy, sell and check your portfolio" %}</p>
            </div>
            <div>
                <span class="icon fa-camera"></span>
		<h3>{% trans "Stockmanagement"%}</h3>
		<p>{% trans "Analyse and oberserve stocks" %}</p>
            </div>
            <div>
		<span class="icon fa-bug"></span>
		<h3>{% trans "Cashmanagment" %}</h3>
		<p>{% trans "Add and remove Cash" %}</p>
            </div>
	</div>
	<footer>
            <a href="#three" class="button">{% trans "Get Started" %}</a>
	</footer>
    </div>
</section>
<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
	<div class="flex flex-2">
            <article>
            <div class="image round">
                <img src="/Presentation/img/pic01.jpg" alt="Pic 01" />
            </div>
            <header>
		<h3>{% trans "Portfoliomanagement" %}<br />{% trans "The right size of positions" %}</h3>
                <p>{% trans "Positions should have minimum and maximum size" %}<br />{% trans "dependent of the amount of your capital" %}.<br />{% trans "Sell positions when time is come" %}.</p>
            </header>
            <footer>
		<a href="#footer" class="button">{% trans "Learn More" %}</a>
            </footer>
            </article>
            <article>
            <div class="image round">
                <img src="/Presentation/img/pic02.jpg" alt="Pic 02" />
            </div>
            <header>
		<h3>{% trans "Stockmanagement" %}<br />{% trans "The ideal stocks to pick" %}</h3>
                <p>{% trans "Watch the market, indices and stocks" %}<br />{% trans "Pick the value stock with best scoring and timing" %}.<br />{% trans "Estimate the real value of a coporate" %}.</p>							
            </header>
            <footer>
		<a href="#footer" class="button">{% trans "Learn More" %}</a>
            </footer>
            </article>
	</div>
    </div>
</section>
<!-- Footer -->
<footer id="footer">
    <div class="inner">
    </div>
</footer>
</body>
</html>